body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2C3E50; /* Fondo oscuro para contraste */
  margin: 0;
  color: #ECF0F1; /* Texto claro */
}

.pantalla {
  text-align: center;
  padding: 20px;
  background-color: #34495E; /* Fondo para cada pantalla */
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

h1, h2 {
  color: #E74C3C; /* Rojo para destacar los títulos */
}

button {
  background-color: #E67E22; /* Botones naranja */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #D35400; /* Color más oscuro al pasar el cursor */
}

#tablero {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  margin-top: 20px;
}

.celda {
  width: 100px;
  height: 100px;
  background-color: #ECF0F1; /* Blanco para las celdas */
  border: 2px solid #2980B9; /* Borde azul */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.celda:hover {
  background-color: #3498DB; /* Azul claro al pasar el cursor */
}

.celda.X {
  color: #E74C3C; /* Rojo para X */
}

.celda.O {
  color: #2980B9; /* Azul para O */
}

#turnoActual {
  margin-top: 20px;
  font-size: 24px;
  color: #F1C40F; /* Amarillo para resaltar el turno */
}
